[Unit]
Description=Service MQTT Container
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
Restart=always
RestartSec=5s

# Clean up any existing container with the same name before starting
ExecStartPre=-/usr/bin/podman rm -f service-mqtt

# The main run command
# Added '--rm' (removes container when service stops)
ExecStart=/usr/bin/podman run --rm \
    --name service-mqtt \
    --net=host \
    --privileged \
    -v /var/run/dbus:/var/run/dbus \
    -v /usr/local/share/certs/broker:/certs:ro \
    localhost/service-mqtt:latest

# Stop command
ExecStop=/usr/bin/podman stop service-mqtt

[Install]
WantedBy=multi-user.target
