[Unit]
Description=Bluetooth Sensor Service Container
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
Restart=always
RestartSec=5s

# Clean up any existing container with the same name before starting
ExecStartPre=-/usr/bin/podman rm -f service-blesensors

# The main run command
# Added '--rm' (removes container when service stops)
ExecStart=/usr/bin/podman run --rm \
    --name service-blesensors \
    --net=host \
    --privileged \
    -v /var/run/dbus:/var/run/dbus \
    -v /usr/local/share/certs/tnn-ble_sensor:/app/certs:ro \
    localhost/service-blesensors:latest


# Stop command 
ExecStop=/usr/bin/podman stop -t 10 service-blesensors

[Install]
WantedBy=multi-user.target