[Unit]
Description=MQTT Service (Quadlet)
After=network-online.target

[Container]
# Note: "VERSION_PLACEHOLDER" will be replaced by Jenkins
Image=localhost/service-mqtt:VERSION_PLACEHOLDER
ContainerName=service-mqtt
Network=host
# Mapping volumes (Host:Container)
Volume=/var/run/dbus:/var/run/dbus
Volume=/usr/local/share/certs/broker:/certs:ro
# Privileged mode for hardware access
SecurityLabelType=none
AddCapability=CAP_SYS_ADMIN
# OR just use Privileged=true if you want full access
Privileged=true

[Service]
Restart=always

[Install]
WantedBy=multi-user.target