[Unit]
Description=Bluetooth Service (Quadlet)
After=network-online.target

[Container]
Image=localhost/service-bluetooth:VERSION_PLACEHOLDER
ContainerName=service-bluetooth
Network=host
Volume=/var/run/dbus:/var/run/dbus
Volume=/usr/local/share/certs/tnn-ble_app:/app/certs:ro
Privileged=true

[Service]
Restart=always

[Install]
WantedBy=multi-user.target